html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
.div-2,
.div-1 {
  height: 50px;
}
.div-1 {
  /*encabezado superior*/
  background-color: #ff77ad;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.div-1 input {
  /*Buscador*/
  padding: 7px;
  width: 200px;
  position: absolute;
  top: 9px;
  right: 190px;
  background-color: #ffa4c8;
  border-radius: 20px;
  border: none;
}
.div-1 input:focus {
  border: none;
  outline: none;
}
.div-1 .usuario {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 85px;
  gap: 20px;
  font-size: 23px;
  color: rgb(95, 95, 95);
}

.div-1 .coments {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 23px;
  color: rgb(95, 95, 95);
}

.div-1 .unno {
  /*separador |*/
  padding: 5px;
  position: absolute;
  top: 7px;
  right: 120px;
  font-size: 23px;
  color: rgb(95, 95, 95);
}
.div-1 .doss {
  /*separador |*/
  padding: 5px;
  position: absolute;
  top: 7px;
  right: 70px;
  font-size: 23px;
  color: rgb(95, 95, 95);
}
.politica {
  /*politica y privacidad*/
  padding: 5px;
  position: absolute;
  left: 160px;
  top: 16px;
  font-size: 12px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.div-2 {
  /*encabezado inferior*/
  background-color: #ff4f95;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 50px;
  position: sticky;
  top: 50px;
  z-index: 999;
}
.div-2 a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  transition: 0.3s ease;
}

.div-2 a:hover {
  color: #ececec;
  font-size: 1.4rem;
  transform: translateY(-4px);
}

.tab-activa {
  border-bottom: 1.8px solid rgb(255, 209, 227);
  font-weight: bold;
  color: #fff !important;
}

img#logo {
  position: absolute;
  margin-left: 40px;
  max-height: 500%;
  width: 110px;
}

.titulo {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #ff4f95;
}
/**/
/* Contenedor principal */
.cart {
  margin-left: 10em;
  margin-top: 50px;
  margin-bottom: 50px;
}
.info1 {
  margin-left: -8em;
  font-size: 21px;
}
.e {
  color: rgb(0, 158, 0);
}
.nom {
  font-size: 21px;
}
.p {
  font-size: 17px;
  font-weight: 600;
}

/* Sección de productos */
.cart {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  margin-left: 8em;
  border-radius: 8px;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}

/* Elemento de producto en la lista */
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
}

/* Imágenes de los productos */
.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* Botones */
.ve {
  background-color: #ff77ad;
  color: white;
  border: none;
  width: 80px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1em;
}

.ve:hover {
  background-color: #ff5096;
}

a {
  text-decoration: none;
  color: #fff;
}

/**/

/*footer*/

.pie-pagina {
  background-color: #ffd4e5; /*color fondo del div*/
  width: 100%; /*100% del contenido*/
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 200px; /*separador del contenido*/
  padding: 10px 30px; /*separador del margen*/
  justify-content: center; /*centrar contenido*/
}

.pie-pagina .grupo-1 .titulo-pie {
  color: black;
  font-size: 15px;
  margin-bottom: 25px;
}

.pie-pagina .grupo-1 .nav {
  display: flex;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  height: 22px;
  line-height: 10px;
  transition: 0.3s ease;
}
.pie-pagina .grupo-1 ul {
  color: #000000;
}
.pie-pagina .grupo-1 .nav:hover {
  color: #ff4f95;
}

.pie-pagina .grupo-1 .cont {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 15px;
  height: 22px;
  line-height: 10px;
  transition: 0.3 ease;
}
.pie-pagina .grupo-1 .cont:hover {
  color: #ff4f95;
  font-size: 1rem;
  transform: translateY(-4px);
}

.pie-pagina .grupo-1 .redes {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  width: 25px;
  height: 22px;
  line-height: 10px;
  margin-left: 17px;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .redes:hover {
  color: #ff4f95;
}

.pie-pagina .grupo-2 {
  background-color: #ff92bf;
  padding: 15px 10px;
  text-align: center;
  color: rgb(245, 245, 245);
}
.arriba {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 15px;
}
